@media(min-width:700px) and (max-width:1200px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

    html {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    body {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: Helvetica, sans-serif;

    }

    .h1Section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 96vh;
        margin-bottom: 4vh;
    }

    h1 {
        font-size: 3rem;
        position: absolute;
        left: 50%;
        top: 10vh;
        color: black;
        line-height: 80%;
    }




    .blackDiv,
    .whiteDiv {
        display: none;

    }

    .h1Image {
        width: 60%;
        height: 96vh;
        object-fit: cover;
    }



    .h1ParagraphButton {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        width: 20rem;
        margin-top: 10vh;
        height: 50vh;
        top: 30vh;
        left: 50%;
    }

    .h1ParagraphButton>p {
        font-size: 22px;
        line-height: 150%;
        color: darkgrey;
    }

    .buttonDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        margin-top: 40px;


    }

    .buttonDiv>button {
        background-color: black;
        color: white;
        font-size: 18px;
        border: none;
        height: 60px;
        width: 200px;
    }


    .buttonDiv:hover,
    .buttonDiv>button:hover {
        cursor: pointer;
    }

    .buttonDiv>img {
        height: 60px;
        width: 50px;
        background-color: orange;
        color: white;

    }

    .secondSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 5%;
        margin-top: 4vh;
    }

    .firstDivInSecondSection {
        /* width: 90%; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .firstDivInSecondSection>img {
        width: 60%;
    }



    .firstDivInSecondSection_text>h2 {
        font-size: 2.5rem;
        text-align: start;
        margin-bottom: 22px;
        line-height: 90%;

    }

    .firstDivInSecondSection_text>p {
        font-size: 22px;
        margin-top: 22px;


    }

    .secondDivinSecondSection {
        height: 80vh;
        /* width: 90%; */
        margin-top: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4vh;
    }

    .grid2Image {
        height: 84vh;
        width: 60%;
    }

    .rigthDiv {
        height: 80vh;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4vh;
    }

    .grid3Image {
        height: 40vh;
        width: 90%;
        object-fit: cover;
    }

    .rigthDiv_text {
        height: 40vh;
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        background-color: black;

    }

    .rigthDiv_text>h3 {
        font-size: 2.2rem;
        color: white;
        line-height: 90%;

    }

    .rigthDiv_text>p {
        font-size: 16px;
        color: white;
        margin-top: 12px;
    }

    footer {
        height: 30vh;
        width: 100%;
        background-color: black;
        margin-top: 8vh;
        padding: 0 50px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 5vw;

    }

    footer>.footerLargeText {
        font-size: 30px;
        line-height: 90%;
        padding-left: 5%;
    }

    .footerText {
        line-height: 150%;
    }

    .socialIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        padding-right: 5%;

    }
}